* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    padding: 20px;
    max-width: 100%;
    width: 600px;
    height: 80vh;
    background: black;
    color: #fff;
    /* border-radius: 7px; */
}

.music-container {
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.app-name-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
}

.app-name {
    font-size: 25px;
    font-weight: 600;
}

.app-name span {
    color: #1ef30f;
    letter-spacing: 1px;
}

/* music info  */
.song-area {
    width: 65%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background: #131313;
    overflow-y: scroll;
    border-radius: 7px;
}

.music-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 0;
    padding: 0 10px;
    gap: 10px;
}

.music-info .artist-image {
    width: 50px;
    height: 50px;
}

img {
    width: 100%;
    border-radius: 5px;
}

.progress-container {
    display: flex;
    align-items: center;
    width: 300px;
    height: 4px;
    background: #434343;
    margin: 10px auto 0 auto;
    border-radius: 10px;
}

.progress-bar {
    background-color: #dd5912;
    border-radius: 5px;
    height: 100%;
    width: 60%;
    transition: width 0.1s linear;
}

.playSongArea {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.music-display {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    word-wrap: none;
}

.artist {
    overflow-x: hidden;
    display: inline-block;
    font-size: 12px;
}

.artist p {
    padding: 5px 0;
}

.image {
    width: 70px;
    height: 70px;
    margin: 0 5px;
}

.image img {
    width: 100%;
    border-radius: 50%;
    
    animation: rotate 3s linear infinite;

    animation-play-state: paused;
}

.music-container.play .image img {
    animation-play-state: running;
    
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 10px 0;
}

.navigation .action-btn {
    margin: 0 15px;
    border-radius: 50%;
    border: none;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    background: none;
    color: #fff;
}

.navigation .action-btn-big {
    color: #1ef30f;
    border: #1ef30f 4px solid;
    height: 60px;
    width: 60px;
    padding: 10px;
    font-size: 30px;
}

.musicList-profile-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 75%;
}

.profile-container {
    display: flex;
    flex-direction: column;
    width: 33%;
    background-color: #000000;
    border-radius: 7px;
    /* padding: 5px; */
}

.user-profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background: #131313;
    border-radius: 5px;
}

.user-profile img {
    width: 25%;
    border-radius: 50%;
}

.user-profile .icon {
    border: 2px solid #fff;
    padding: 7px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.user-profile .name {
    font-size: 20px;
    font-weight: 700;
}

.nav-section {
    margin-top: 10px;
    background: #161515;
    height: 100%;
    border-radius: 5px;
    padding: 15px 10px;
}

.nav-section p {
    padding: 5px;
    margin: 5px 0;
    cursor: pointer;
}

.nav-section p:hover {
    background: #000000;
}

@media (max-width: 375px) {
    .container {
        height: 100%;
        width: 100%;
        border-radius: 0;
    }

    .profile-container {
        display: none;
    }

    .song-area {
        width: 100%;
    }

    .music-display {
        display: none;
    }

    .navigation {
        width: 100%;
    }
}